<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464292446401-5kod8s4pcivpf6gpmt72ing6a6thq7vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464292446401-5kod8s4pcivpf6gpmt72ing6a6thq7vs</string>
	<key>API_KEY</key>
	<string>AIzaSyC6RurWg8s93Ble3B7g4w9Ju2cHPKoTuMY</string>
	<key>GCM_SENDER_ID</key>
	<string>464292446401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clickCounter</string>
	<key>PROJECT_ID</key>
	<string>dom-store</string>
	<key>STORAGE_BUCKET</key>
	<string>dom-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464292446401:ios:a3b5e7284e8310391ed440</string>
</dict>
</plist>